*{
    font-size: 18px;
    font-family: arial, verdana;
    background-color: beige;
    text-align: center;
}

img{
     box-sizing: content-box;
    padding: 5px;
    border: 10px solid black;
}

h1{
    font-size: 34px;
    font-weight: 800;
    padding: 30px;
    background-color: rgb(194, 76, 76);
    box-sizing: content-box;
    width: 700;
    display: inline-block;
}

h3{
    font-size: 24px;
    text-align: left;
    font-weight: 800;
}

ul,ol,li{
    text-align: left;
}